@font-face { font-family: Unica; src: url(../assets/unica.otf); }
@font-face { font-family: Secular One; src: url(../assets/SecularOne-Regular.ttf); }
@font-face { font-family: Roboto; src: url(../assets/Roboto-Regular.ttf); }
@font-face { font-family: Rubik Mono One; src: url(../assets/RubikMonoOne-Regular.ttf); }

/* global */
A 								{ color: black; }
BODY 						{ width:100%; height:100%; margin:0px; padding:0px; color: #000000; }
.container 				{ width: 100%; }
.inline						{ display:inline-block; }
/*.img							{ transition: all 1s ease-in-out; }*/

/*.img.mirror 				{ transition: all 1s ease-in-out;  transform: scale(-1, 1);  filter: grayscale(100%); }*/

.img.mirror 				{ display:flex; align-items: center; flex-wrap: nowrap; flex-direction: row; }
.img.mirror .orig		{ display:inline-block; width:50%; flex: none; overflow: hidden; width: 50%; }
.img .clone				{ display:none; width:50%; }
.img	.hide				{ display:none; }
.img.mirror .clone	{ display:inline-block; width:50%; flex: none; transform: scale(-1, 1); }


 .mirror .inline  	{ transform: scale(-1, 1); }
 
/* index */
BODY.index 					{ background-color:#e48382; background-image: url('../assets/background.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-size:cover; }
.index .section 				{ display: flex; }
.index .section.three 		{ flex-direction: column; padding: 35px; }
.index .question				{ display: flex; flex-direction: column; width: 50%; margin-bottom: 50px; user-select: none; -webkit-user-select:none; }
.index .answer 				{ width: 70%; margin-left: 30%; margin-bottom: 50px; }
.index .answer .person 	{ color: blue; }
.index .person 				{ font-family: Unica; font-size: 24px; line-height: 24px; color: rgb(9, 255, 0); }
.index .text 						{ font-family: 'Times New Roman', Times, serif; font-size: 54px; line-height: 62px; color: #000000; display:inline-block; }


/* projects */
BODY.projects 						{ background: #E9DBED; }
.projects .section					{ text-align:center; }
.projects .section .header 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }
.projects .section .body 			{ max-width:1000px; text-align:center; margin: 0 auto; padding:20px; }
.projects .section .body IMG 	{ text-align:center; width:100%; height:auto; }
.projects .section .footer 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }

.projects .section1 .header 	{ font-family: Secular One; font-size: 63px; }
.projects .section1 .body		{}
.projects .section1 .body IMG {}
.projects .section1 .footer 		{ font-family: Roboto; font-size: 69px; }

.projects .section2 .body 		{}
.projects .section2 .body IMG {}

.projects .section3 .body 		{}
.projects .section3 .body IMG {}

.projects .section4 .body 		{ display: flex; }
.projects .section4 .header		{ display: flex; flex-direction: column; font-family: Roboto; font-size: 61px; width:20%; justify-content: center; justify-content: center; align-items: center; align-content: center; }
.projects .section4 .rotate 		{ transform: rotate(-90deg); }
.projects .section4 .imgs		{ display: flex; flex-direction: column; }
.projects .section4 .img 			{ padding:20px 10px; }

.projects .section5 .header		{ font-family: Roboto; font-size: 69px; line-height: 81px; }
.projects .section5 .body 		{}
.projects .section5 .body IMG {}

.projects .section6 .header		{ font-family: Roboto; font-size: 69px; line-height: 81px; }
.projects .section6 .body 		{}
.projects .section6 .body IMG {}


/* travelling */
BODY.travelling 		{ background: #96B25A; }
.travelling .section	{ text-align:center; }
.travelling .section .header 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }
.travelling .section .body 			{ max-width:1000px; text-align:center; margin: 0 auto; padding:20px; }
.travelling .section .body IMG 	{ text-align:center; width:100%; height:auto; }
.travelling .section .footer 			{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }


.travelling .section1 .header 		{ font-family: Secular One; font-size: 63px; }
.travelling .section1 .body			{}
.travelling .section1 .body IMG 	{ text-align:center; width:100%; height:auto; }
.travelling .section1 .footer 		{ font-family: Roboto; font-size: 69px; }
.travelling .section1 .imgs			{ display: flex; }
.travelling .section1 .img 			{ display: flex; flex-direction: row; padding:20px 10px; width:50%; }

.travelling .section2 .body			{ padding:40px 20px; }
.travelling .section2 .body IMG 	{ text-align:center; width:100%; height:auto; }

.travelling .section3 .body			{ padding:40px 20px; }
.travelling .section3 .body IMG 	{ text-align:center; width:100%; height:auto; }


/* photography  */
BODY.photography { background:#02B4EC; }

.photography .section	{ text-align:center; }
.photography .section .header 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }
.photography .section .body 			{ max-width:1000px; text-align:center; margin: 0 auto; padding:20px; }
.photography .section .body IMG 	{ text-align:center; width:100%; height:auto; }
.photography .section .footer 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }


.photography .section1 .header 		{ font-family: Secular One; font-size: 63px; }
.photography .section1 .body			{}
.photography .section1 .img			{ padding:20px 10px; }



/* music */
BODY.music { background:#02B4EC; background-image: url('../assets/music.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-size:cover; }

.music .section	{ text-align:center; }
.music .section .header 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }
.music .section .body 			{ max-width:1000px; text-align:center; margin: 0 auto; padding:20px; }
.music .section .body IMG 	{ text-align:center; width:100%; height:auto; }
.music .section .footer 		{ max-width:1000px; text-align:center; margin: 0 auto; padding:40px 20px; }

.music .section .header 		{ font-family: Rubik Mono One; font-size: 78px; }

.music .section .imgs			{ display: flex; flex-direction: row; flex-wrap: wrap;  justify-content: space-around; }
.music .section .img 			{ display: flex; flex-direction: row; width:calc(100%/5 - 20px); padding:10px; }
.music .section .img IMG 	{ margin:0px; width:100%; height:auto; display:inline-block; }
.music .section .img IMG.hide 	{ display:none; }


@media only screen and (max-width: 1000px) {
	.index .section 	{ flex-direction: column; }
	.index .question 	{ width: 100%; margin-top: 50px; }
	.index .text 			{ font-size: 34px; line-height: 39px; }
	.index .answer 	{ width: 100%; margin-top: 50px; margin-left: 0; }

	.section .header 	{ font-size: 34px !important; }
	.section .footer 	{ font-size: 34px !important; }
	.section .header 	{ padding:30px 10px 10px 10px !important; }
	.section .body 	{ padding:10px 10px 20px 10px !important; }
	.section .footer 	{ padding:30px 10px !important; }
	.section .imgs .img 	{ padding:10px 5px;  }

	.projects .section4 .header { width:10%;}

	.music .section .imgs 	{ padding:0px; }
	.music .section .img 	{ width:calc(100%/2 - 20px); }



	
}